<!DOCTYPE html>
<html>
  <head>
  	<title>restaurante</title>
  </head>
  <body>
  	<h1>Introducir restaurante</h1>
  	<form action="/restaurantes" method="post">
  		<input type="text" name="name"> Nom
  		<br>
  		<input type="text" name="location"> Direccio
  		<br>
  		<input type="text" name="phone"> Telefon
  		<br>
  		<input type="text" name="cp"> Codi Postal
  		<br>
  		<input type="submit" name="Enviar">
  	</form>

    <a href="/listadoRestaurantes">Ver restaurantes</a> <br>
    <a href="/">Volver</a> <br>

  </body>
</html>
