<!DOCTYPE html>
<html>
  <head>
  	<title>Opcion</title>
  </head>
  <body>

    <h2>Bienvenido</h2>
    <h4>Selecciona una opcion</h4>
    <a href="/restaurantes">Añadir restaurantes</a> <br>
    <a href="/listadoRestaurantes">Ver restaurantes</a> <br>

  </body>
</html>
